@import "../../../Assets/Helpers/variables";
.busPlanWrapper {
  font-size: 1.5em;
  h2 {
    text-align: center;
    padding: 1em;
    color: $orange;
  }
  .busPlanSection {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    p {
      padding-left: 0.5em;
      padding-bottom: 0.5em;
      color: $darkblue;
      font-size: 0.8em;
      font-weight: bold;
    }
    .timer {
      color: $orange;
      padding: 0;
    }
  }
}
