@import "../../../Assets/Helpers/variables";
//Dato
.clock {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2vh;
  color: $orange;
  margin-top: 5vh;
  font-weight: bold;
  //Klok
  .timeInd {
    font-size: 3.3em;
    font-weight: bold;
    color: $darkblue;
    -webkit-text-stroke: 2px black;
  }
}
