$darkblue: rgb(42, 47, 112);
$orange: rgb(233, 132, 74);
$green: rgb(15, 95, 74);
$pink: rgb(242, 187, 188);
$lightblue: rgb(89, 170, 188);
//Opacity
$BGorange: rgba(233, 132, 74, 0.336);
$BGblue: rgba(42, 47, 112, 0.336);
