.foodplanwrapper {
  font-size: 1.5vh;
  h2 {
    text-align: center;
    padding: 1em;
  }
  .foodplansection {
    display: grid;
    grid-template-columns: 20% 80%;
    h4 {
      padding: 0.5em 1em 0.5em 1em;
    }
  }
}
