@import "../../../Assets/Helpers/variables";
.foodplanWrapper {
  font-size: 1em;
  h2 {
    text-align: center;
    padding: 1em;
    color: $orange;
  }
  p {
    text-align: center;
    padding-bottom: 0.5em;
    color: $darkblue;
  }
}
