@import "../../../Assets/Helpers/variables";
.table {
    width: 100%;
    border-collapse: collapse; //det her gør at der ikke er hul imellem linjerne
    height: 90%;
    color: rgba(0, 0, 0, 0.575);
    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        //Tabel header - overskriften
        th {
            background-color: $darkblue;
            color: $orange;
            padding-bottom: 0.41vw;
            padding-top: 0.5vw;
            height: 5vh;
            text-align: left;
            padding-left: 0.2em;
            text-transform: uppercase;
            font-size: 2vw;
        }
        //TD hver column 
        td {
            padding-bottom: 0.45vw;
            height: 3vh;
            padding-left: 0.5em;
            background-color: $BGorange;
            color: $darkblue;
        }
    }
}